// TODO: Leave room button, that will disconnect id from viewers collection
template(name="room")
   .container
      .row
         br
         // TODO: split into template
         .flow-text.center
            b Realm's planning room
            if isCreator room.creator
               span.pink-text (Admin)
               if room.sessionInProgress
                  span#unlock.mdi-action-lock-outline.right
               else
                  span#lock.mdi-action-loyalty.right
         p.flow-text.center.eta
            if room.sessionInProgress
               .pink-text In Progress
            else
               | ETA &nbsp;
               span.green-text= room.eta

         if countingDown
            unless averageReady
               h4.center.time
                  | Time left:
                  span.red-text 5
            else
               h4.center.time
                  | Average: 3
         else
            if isCreator room.creator
               if room.sessionInProgress
                  .center
                     #timer-start.btn.red Start timer
      .row
         // TODO: if admin (Create features) + mark as done
         +feature_card

      .row
         if isCreator room.creator
            +estimation_admin
         else
            +estimation

      .row
         h5.center Participants
         +participants

// TODO:
template(name="room_header")


// TODO: if admin (Create features) + mark as done
template(name="feature_card")
   h5.center Ready for estimation
   .col.s12
      .card
         .card-content.lime.lighten-3.black-text
            span.card-title.black-text RMOB-1052
            a.btn-floating.btn-large.waves-effect.waves-light.red.right
               i ?
            p
               b CMET Mobile
               | Prevent customer login sessions to time out
         .card-action
            a(href='#') Go to YouTrack

//
template(name="estimation")
   h5.center Your estimate
   h5.center
      each getEstimate
         a.estimate= this
//
template(name="estimation_admin")
   // TODO: if in progress

   .col.s12.m4
      h5.center Your estimate
    .col.s8.m4.offset-s2.offset-m4
      select#estimates.browser-default
         option(value='', disabled='', selected='') Select estimation unit
         each estimates
            option(value='{{name}}')= name
   .col.s12
      h5.center
         each getEstimate
            a.estimate= this

// else
   TODO: Average estimate (when estimated)

// TODO: Populate with more user data
// TODO : Get estimations for cards, flip and unflip
template(name="participants")
   ul.collection
      each viewers
         .col.s12.m6
            li.collection-item.dismissable.avatar
               img.circle(src='img/anon.svg', alt='')
               span.title= email
               p
                  | Mobile Web Realm
               // un-flipped shows the back. TODO: toggle
               .poker-card.un-flipped.secondary-content.right
                  br
                  b ?
