// TODO: Break out templates into own files and own js in a folder - components

//
template(name="room")
   .container
      .row
         +room_header
         br
         +timer

      .row
         +feature_card

      .row
         if isCreator room.creator
            +estimation_admin
         else
            +estimation

      .row
         h5.center Participants
         +participants

      if isCreator room.creator
         .fixed-action-btn#edit-features
            a.btn-floating.btn-large.green.modal-trigger(href="#feature-creator")
               i.mdi-editor-mode-edit

   //
   +feature_editor

//
template(name="room_header")
   .flow-text.center
      b= room.roomname
      if isCreator room.creator
         span.pink-text (Admin)
         if room.sessionInProgress
            span#unlock.mdi-action-lock-outline.green-text.right.unlock
         else
            span#lock.mdi-action-lock.right.red-text.unlock
   p.flow-text.center.eta
      if room.sessionInProgress
         .pink-text In Progress
      else
         | ETA &nbsp;
         span.green-text= room.eta

//
template(name="timer")
   if isCountingDown
      h4.center.time
         | Time left:
         span.red-text(style="text-shadow: 0 0 {{shadowValue}}px #ff0000")= seconds
   else
      if isCreator room.creator
         if room.sessionInProgress
            unless isAverageReady
                  .center
                     #timer-start.btn.red Start timer
      if isAverageReady
         h4.center.time
            | Average:
            span.red-text {{average}}
            if isCreator room.creator
               span#timer-reset.mdi-device-access-alarm.reset-clock


//
template(name="feature_card")
   h5.center Ready for estimation
   .col.s12
      .card
         .card-content.lime.lighten-3.black-text
            span.card-title.black-text {{getFeature.title}}
            if editingEstimate
               if isCreator room.creator
                  .col.s3.right
                     select#new-estimate.browser-default(title="{{getFeature._id}}")
                        option(value='', disabled='', selected='') Set value
                        each getEstimate
                           option(value='{{this}}')= this
            else
               a#set-new-estimate.btn-floating.btn-large.waves-effect.waves-light.red.right
                  i {{getFeature.estimate}}
            p
               b {{getFeature.brand}}
               | {{getFeature.description}}
         .card-action
            a(href='{{getFeature.link}}' target="_blank") Go to Feature
            if isCreator room.creator
               b
                  i#move-to-done.mdi-action-done.forward.right(title="{{getFeature._id}}")

//
template(name="estimation")
   h5.center Your estimate
      if isCountingDown
         span :
         span.red-text &nbsp; {{myEstimate}}
   h5.center
      each getEstimate
         a.estimate(class="{{disabled}}" title="{{this}}")= this
//
template(name="estimation_admin")
   .col.s12.m4
      h5.center Your estimate
         if isCountingDown
            span :
            span.red-text &nbsp; {{myEstimate}}

   .col.s8.m4.offset-s2.offset-m4
      select#estimates.browser-default
         option(value='', disabled='', selected='') Select estimation unit
         each estimates
            option(value='{{name}}')= name
   .col.s12
      h5.center
         each getEstimate
            a.estimate(class="{{disabled}}" title="{{this}}")= this

//
template(name="feature_editor")
   // Modal Structure
   #feature-creator.modal.bottom-sheet
      .modal-content
         .row
            unless editingFeature
               .col.s4.m4
                  p.flow-text
                     b Todo
                     span.mdi-action-note-add.add-feature.cyan-text
               .col.s4.m4
                  p.flow-text
                     b Doing
               .col.s4.m4
                  p.flow-text
                     b Done
         //
         .row
            if editingFeature
               +feature_form
            else
               .col.s4.m4
                  each getFeatures 'todo'
                     +feature_column
                  |&nbsp;
               .col.s4.m4
                  each getFeatures 'doing'
                     +feature_column
                  |&nbsp;
               .col.s4.m4
                  each getFeatures 'done'
                     +feature_column
                  |&nbsp;

      .modal-footer
         //hr
         a#stop-editing.modal-action.modal-close.waves-effect.waves-green.btn-flat.right CANCEL

//
template(name="feature_form")
   form#feature-form.col.s12
      .row
         .input-field.col.s6.m4
            input#title.validate(value='{{getEditingFeature.title}}', type='text' pattern=".{3,20}" maxlength="20"
            required title="(3 to 30 characters)" name="title")
            label.active(for='title') Feature title
         .input-field.col.s6.m4
            input#brand.validate(value='{{getEditingFeature.brand}}', type='text' maxlength="20"
            pattern=".{3,20}" required title="(3 to 20 characters)" name="brand")
            label.active(for='brand') Feature brand
         .input-field.col.s6.m4
            input#link.validate(value='{{getEditingFeature.link}}', type='text' maxlength="30"
            pattern=".{5,30}" required title="(5 to 30 characters)" name="link")
            label.active(for='link') Feature link
         unless newFeature
            .input-field.col.s6.m2
               select#state.browser-default
                  option(value='todo', disabled='', selected='') State
                  option(value='todo') Todo
                  option(value='doing') Doing
                  option(value='done') Done
            .input-field.col.s3.m2
               select#change-estimate.browser-default(title="{{getEditingFeature._id}}")
                  option(value='{{getEditingFeature.estimate}}', disabled='', selected='') Estimate
                  each getEstimate
                     option(value='{{this}}')= this
         .input-field.col.s12.m8
            input#description.validate(value='{{getEditingFeature.description}}', type='text' maxlength="50"
            pattern=".{5,50}" required title="(5 to 50 characters)" name="description")
            label.active(for='description') Feature Description
      .row
         button.modal-action.waves-effect.waves-green.btn.left(type='submit', name='action') CREATE / UPDATE

//
template(name="feature_column")
      ul.collection
         li.collection-item.avatar
               i.mdi-editor-mode-edit.circle.edit-feature.teal
               span.title
                  a(href="{{link}}" target="_blank")= title
               p
                  | {{brand}}
                  br
                  |          {{description}}
               a.secondary-content
                  i.mdi-action-highlight-remove.remove-feature.pink-text
                  br
                  p.flow-text.feature-estimate
                     b {{estimate}}

//TODO: Average estimate (when estimated)


// TODO: Populate with more user data
// TODO : Get estimations for cards, flip and unflip
template(name="participants")
   ul.collection
      each viewers
         .col.s12.m6
            li.collection-item.dismissable.avatar
               img.circle(src='img/anon.svg', alt='')
               span.title= email
               p
                  // TODO: Fetch from profile
                  | Mobile Web Realm
               // un-flipped shows the back. TODO: toggle
               unless isAverageReady
                  .poker-card.un-flipped.secondary-content.right
                     br
                     b ?
               else
                  .poker-card.secondary-content.right
                     br
                     b {{estimation}}