// TODO: Leave room button, that will disconnect id from viewers collection
template(name="room")
   .container
      .row
         br
         // TODO: split into template
         // TODO: _with_ room
         .flow-text.center
            b Realm's planning room
            if isCreator room.creator
               span.pink-text (Admin)
         p.flow-text.eta
            | ETA
            span.green-text= room.eta
            if room.sessionInProgress
               span.right.pink-text In Progress
               // TODO: layout placement
               if isCreator room.creator
                  span
                     a.btn-flat (Lock)
            else
               span.right.blue-text Not In Progress
               // TODO: layout placement
               if isCreator room.creator
                  span
                     a.btn-flat (Unlock)


         if room.sessionInProgress
            h4.center.time
               | Time left:
               span.red-text 5
         else
            h4.center Waiting for countdown
         if isCreator room.creator
            .center
               #timer-start.btn.red Start timer

      .row
         // TODO: if admin (Create features) + mark as done
         +feature_card

      .row
         if isCreator room.creator
            +estimation_admin
         else
            +estimation

      .row
         h5.center Participants
         +participants

// TODO:
template(name="room_header")


// TODO: if admin (Create features) + mark as done
template(name="feature_card")
   .col.s12
      .card
         .card-content.lime.lighten-3.black-text
            span.card-title.black-text RMOB-1052
            a.btn-floating.btn-large.waves-effect.waves-light.red.right
               i ?
            p
               b CMET Mobile
               | Prevent customer login sessions to time out
         .card-action
            a(href='#') Go to YouTrack

//
template(name="estimation")
   h5.center Your estimate
   h5.center
      each getEstimate
         a.estimate= this
//
template(name="estimation_admin")
   // TODO: if inprogrss

   .col.s5.m4
      h5.center Your estimate
   .col.s2.m4
      | &nbsp;
   .col.s5.m4
      select#estimates.browser-default
         option(value='', disabled='', selected='') Select estimate unit
         each estimates
            option(value='{{name}}')= name
   .col.s12
      h5.center
         each getEstimate
            a.estimate= this

// else
   TODO: Average estimate (when estimated)

// TODO: Populate with more user data
// TODO : Get estimations for cards, flip and unflip
template(name="participants")
   ul.collection
      each viewers
         .col.s12.m6
            li.collection-item.dismissable.avatar
               img.circle(src='img/anon.svg', alt='')
               span.title= email
               p
                  | Mobile Web Realm
               .poker-card.un-flipped.secondary-content
                  br
                  b ?
