// TODO: Break out templates into own files and own js in a folder - components
// TODO: Leave room button, that will disconnect id from viewers collection
// TODO: Bottom modal that shows a collection af all estimated and un-estimated features, right and left column

template(name="room")
   .container
      .row
         +room_header
         br
         +timer

      .row
         // TODO: if admin (Create features) + mark as done
         +feature_card

      .row
         if isCreator room.creator
            +estimation_admin
         else
            +estimation

      .row
         h5.center Participants
         +participants

      if isCreator room.creator
         .fixed-action-btn#edit-features
            a.btn-floating.btn-large.green.modal-trigger(href="#feature-creator")
               i.mdi-editor-mode-edit

   //
   +feature_editor

//
template(name="room_header")
   .flow-text.center
      b Realm's planning room
      // TODO: make work
      if isCreator room.creator
         span.pink-text (Admin)
         if room.sessionInProgress
            span#unlock.mdi-action-lock-outline.green-text.right.unlock
         else
            span#lock.mdi-action-lock.right.red-text.unlock
   p.flow-text.center.eta
      if room.sessionInProgress
         .pink-text In Progress
      else
         | ETA &nbsp;
         span.green-text= room.eta

//
template(name="timer")
   if countingDown
      unless averageReady
         h4.center.time
            | Time left:
            span.red-text 5
      else
         h4.center.time
            | Average: 3
   else
      if isCreator room.creator
         if room.sessionInProgress
            .center
               #timer-start.btn.red Start timer

// TODO: if admin (Create features) + mark as done
template(name="feature_card")
   h5.center Ready for estimation
   .col.s12
      .card
         .card-content.lime.lighten-3.black-text
            span.card-title.black-text {{getFeature.title}}
            if editingEstimate
               if isCreator room.creator
                  .col.s3.right
                     // TODO: Can be its own template
                     select#new-estimate.browser-default
                        option(value='', disabled='', selected='') Set value
                        each getEstimate
                           option(value='{{this}}')= this
            else
               a#set-new-estimate.btn-floating.btn-large.waves-effect.waves-light.red.right
                  i {{getFeature.estimate}}
            p
               b {{getFeature.brand}}
               | {{getFeature.description}}
         .card-action
            a(href='{{getFeature.link}}') Go to YouTrack

//
template(name="estimation")
   h5.center Your estimate
   h5.center
      each getEstimate
         a.estimate= this
//
template(name="estimation_admin")
   // TODO: if in progress
   .col.s12.m4
      h5.center Your estimate
    .col.s8.m4.offset-s2.offset-m4
      select#estimates.browser-default
         option(value='', disabled='', selected='') Select estimation unit
         each estimates
            option(value='{{name}}')= name
   .col.s12
      h5.center
         each getEstimate
            a.estimate= this

//
template(name="feature_editor")
   // Modal Structure
   #feature-creator.modal.bottom-sheet
      .modal-content
         .row
            .col.s4.m4
               p.flow-text
                  b Todo
                  span.mdi-action-note-add.add-feature.cyan-text
                  span.mdi-navigation-arrow-forward.forward.todo
            .col.s4.m4
               p.flow-text
                  b Doing
                  span.mdi-navigation-arrow-back.back.doing
                  span.mdi-navigation-arrow-forward.forward.doing
            .col.s4.m4
               p.flow-text
                  b Done
                  span.mdi-navigation-arrow-back.back.done
         //
         .row
            if editingTodo
               +feature_form
            else
               // each getFeature todo
               .col.s4.m4
                  +feature_column
               // each getFeature doing
               .col.s4.m4
                  +feature_column
               // each getFeature done
               .col.s4.m4
                  +feature_column

      .modal-footer
         //hr
         a.modal-action.modal-close.waves-effect.waves-green.btn-flat.right CANCEL

//
template(name="feature_form")
   form#feature-form.col.s12
      .row
         .input-field.col.s6.m4
            input#title.validate(value='Title', type='text' pattern=".{3,30}" maxlength="30"
            required title="(3 to 30 characters)" name="title")
            label.active(for='title') Feature title
         .input-field.col.s6.m4
            input#brnad.validate(value='Brand', type='text' maxlength="15"
            pattern=".{5,15}" required title="(5 to 15 characters)" name="brand")
            label.active(for='brand') Feature brand
      .row
         .input-field.col.s10.m6
            input#description.validate(value='Description', type='text' maxlength="50"
            pattern=".{5,50}" required title="(5 to 50 characters)" name="description")
            label.active(for='description') Feature Description
         .col.s2.m6.offset-m3
            br
            button.modal-action.modal-close.waves-effect.waves-green.btn.right(type='submit', name='action') CREATE

//
template(name="feature_column")
      ul.collection
         li.collection-item.avatar
            // TODO: Fetch featureId
            i.mdi-editor-mode-edit.circle.edit-feature.teal(class="{{featureId}}")
            span.title Title
            p
               | Brand
               br
               |          Description
            a.secondary-content
               i.mdi-action-highlight-remove.remove-feature.pink-text
               // TODO: Estimate
               br
               p.flow-text.feature-estimate
                  b ?

//TODO: Average estimate (when estimated)

// TODO: Populate with more user data
// TODO : Get estimations for cards, flip and unflip
template(name="participants")
   ul.collection
      each viewers
         .col.s12.m6
            li.collection-item.dismissable.avatar
               img.circle(src='img/anon.svg', alt='')
               span.title= email
               p
                  | Mobile Web Realm
               // un-flipped shows the back. TODO: toggle
               .poker-card.un-flipped.secondary-content.right
                  br
                  b ?
